include Readme.txt
graft docs
include LICENSE
include setup.*
recursive-include examples *.py
include pywinauto/unittests/*.py
include pywinauto/swapy/*.ico
# include the examples - but not Watsup or .svn directories
include examples/*.py
exclude examples/examples_watsup/*.py

